<div id="{{skillsId}}" class="skills-container">
  <div class="green-h2">
    <span>Skills</span>
  </div>
  <div class="skills-lines skills-line-font">
    <div class="skills-line skill-1">
      <span>HTML</span>
    </div>
    <div class="skills-line skill-2">
      <span>CSS</span>
    </div>
    <div class="skills-line skill-3">
      <span>PHP</span>
    </div>
    <div class="skills-line skill-4">
      <span>jQuery</span>
    </div>
  </div>
  <div class="skills-measure skills-measure-font">
    <div class="skills-measure-beginner">
      <span>Beginner</span>
    </div>
    <div class="skills-measure-proficient">
      <span>Proficient</span>
    </div>
    <div class="skills-measure-expert">
      <span>Expert</span>
    </div>
    <div class="skills-measure-master">
      <span>Master</span>
    </div>
  </div>
</div>
