<div class="left-side-menu">
  <app-avatar [profilePhotoSrc]="profilePhotoSrc">
    <div avatar-name>{{name}}</div>
  </app-avatar>
  <ul>
    <li><a href="#about-me"><img src="assets/source/applause-128.ico" alt="about me" class="icon">About me</a></li>
    <li><a href="#education"><img src="assets/source/edit-2-128.ico" alt="education" class="icon">Education</a></li>
    <li><a href="#experience"><img src="assets/source/star-128.ico" alt="experience" class="icon">Experience</a></li>
    <li><a href="#skills"><img src="assets/source/add-user-128.ico" alt="skills" class="icon">Skills</a></li>
    <li><a href="#portfolio"><img src="assets/source/video-5-128.ico" alt="portfolio" class="icon">Portfolio</a></li>
    <li><a href="#contacts"><img src="assets/source/phone-46-128.ico" alt="contacts" class="icon">Contacts</a></li>
    <li><a href="#feedbacks"><img src="assets/source/facebook-like-128.ico" alt="feedbacks" class="icon">Feedbacks</a>
    </li>
  </ul>
  <p class="back-to-start">
    <a href="front-page.html"> <img src="assets/source/back.ico" class="icon" alt="Go back">Go back </a>
  </p>
</div>
